.cardWrapper{
  width: 200px;
  margin: 50px auto;
  border: 2px solid dodgerblue;
  padding: 10px;
  border-radius: 10px;
}
.cardWrapper:hover{
  box-shadow: 0px 0px 5px 5px dodgerblue;
  cursor: pointer;
}
.productTitle{
  margin: auto;
  font-size: 20px;
}
.productImage{
  width: 150px;
  height: 120px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
}
.productsWrapper{
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: auto;
}
.infoLink{
  font-size: 14px;
  color: dodgerblue;
}
.infoLink:hover{
  text-decoration: underline;
}

@media only screen and (max-width:1200px) {
  .productsWrapper{
    grid-template-columns: repeat(4, auto);
  }
}
@media only screen and (max-width:900px) {
  .productsWrapper{
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (max-width:700px) {
  .productsWrapper{
    grid-template-columns: repeat(2, auto);
  }
  .cardWrapper{
    width: 250px;
  }
}
@media only screen and (max-width:560px) {
  .productsWrapper{
    grid-template-columns: repeat(2, auto);
  }
  .cardWrapper{
    width: 200px;
  }
}
@media only screen and (max-width:460px) {
  .productsWrapper{
    grid-template-columns: repeat(1, auto);
  }
  .cardWrapper{
    width: 80%;
  }
}